{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'Orders/style.css' %}" />
<div class="main">

<h1> <a href="{% url 'Orders:index' %}" title="Undo to list">{{ order.title }}</a></h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<table cellspacing="4" cellpadding="4">
	<tr>
		<td>
<form>
   {% csrf_token %}
  <input type="button" value="Edit" onClick='location.href="{% url 'Orders:edit' order.id %}"'>
 </form>
		</td>
		<td></td>
		<td>
 <form action="{% url 'Orders:edit' order.id %}" method="get">
   {% csrf_token %}
  <input type="button" value="Delete" onClick='location.href="{% url 'Orders:remove' order.id %}"'>
 </form></td>
 </tr>
</table>

<p><label for="order.count"> Count = {{ order.count }}</label></p>
<p><label for="order.count"> Address: {{ order.address }}</label></p>
<p><label for="order.count"> Status of delivery: {{ order.status }}</label></p>
<p><label for="order.count"> Date of delivery: {{ order.date }}</label></p>

</div>