{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'orderproduct/style.css' %}" />
<form action="{% url 'orderproduct:add' %}" method="post">
                  {% csrf_token %}
                  <label>Title</label><br>
                  <input type="text" id="ordtit" name="order_title" value="{{ orderproduct.order_title }}" required><br>
                  <label>Count</label><br>
                  <input type="number"  id="cnt" name="order_count" value="{{ orderproduct.order_count }}" min="1" max="50"  required><br>
                  <label>Your Address</label><br>
                  <input type="text" id="ordadd" name="order_address" value="{{ orderproduct.order_address }}" required><br>
                  <label>Delivery data</label><br>
                  <input type="data" id="orddat" name="order_data" value="{{ orderproduct.order_date}}" required><br>
                  <label>Order status</label><br>
                  <input type="text" id="ordst" name="order_status" value="{{ orderproduct.oredr_status }}" required pattern="(выполнен|не выполнен)"
                         title="Может принимать значения выполнен или не выполнен"><br>
                  <input type="submit" value="save changes">
</form>