{% extends "base.html" %}

{% block title %}List of products{% endblock %}

{% block data_page %}products{% endblock %}

{% block breadcrumbs %}
<li><a href="/">Home</a></li>
<li class="active">Products</li>
{% endblock %}

{% block content %}
<h1>Here you can edit the list of products</h1>
<a class="btn btn-primary btn-add-product" href="{% url 'add_product' %}">Add product</a>
{% if products %}
<table class="table-products table table-bordered table-hover" id="table-products">
  <thead>
	 <tr>
		<th>id</th>
		<th>Name</th>
		<th>Count</th>
		<th>Address</th>
		<th>Delivery Date</th>
		<th>Status</th>
		<th>Edit</th>
	 </tr>
  </thead>
  <tbody>
		{% for product in products %}
		<tr{% if product.status == False %} class="warning"{% endif %}>
			<td>{{ product.id }}</td>
			<td>{{ product.name }}</td>
			<td>{{ product.count }}</td>
			<td>{{ product.address }}</td>
			<td>{{ product.delivery_date }}</td>
			<td>{% if product.status %}Enabled{% else %}Disabled{% endif %}</td>
			<td><a class="btn btn-default pull-left" href="{% url 'product' product.id %}">Edit</a></td>
		</tr>
		{% endfor %}
  </tbody>
</table>
<a class="btn btn-primary btn-add-product" href="{% url 'add_product' %}">Add product</a>
{% else %}
	<p>List of products is empty</p>
{% endif %}
{% endblock %}
