{% extends 'products/base.html' %}
{% block content %}


{% if user.is_authenticated %}
<form>
    <button formaction="{% url 'products:addOrder' %}">Добавить заказ</button>
</form>
{% endif %}

{% if product_list %}
<ul>
    {% for product in product_list %}
    <li><p>{{ product.name }}
        <p>{{ product.count}}
        <p>{{ product.address }}
        <p>{{ product.delivery_date }}
        <p>{{ product.status }}
        {% if user.is_authenticated and user.get_username == product.customer%}
        <form action="{% url 'products:editOrder'%}" method="post">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{product.id}}">
            <input type="submit" value="Редактировать">
        </form>
        <form action="{% url 'products:removeOrder'%}" method="post">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{product.id}}">
            <input type="submit" value="Удалить">
        </form>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No polls are available.</p>
{% endif %}

{% endblock %}

