{% block content %}

<h1>Registration</h1>

{% if form.errors %}
{% for field in form %}
{% for error in field.errors %}
    <strong>{{ error }}</strong>
{% endfor %}
{% endfor %}
{% for error in form.non_field_errors %}
<div class="alert alert-danger">
    <strong>{{ error|escape }}</strong>
</div>
{% endfor %}
{% endif %}

<form method="post" action="{% url 'registration' %}">
    {% csrf_token %}

    <table>
    {% for field in form %}
        <tr>
        <td>{{ field.label_tag }}</td>
        <td>{{ field }}</td>
    </tr>
    {% endfor %}
</table>
    <input type="submit" class="btn btn-primary" value="OK"/>
    <input type="hidden" name="next" value="{{ next }}"/>
</form>
{% endblock %}