{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/css/bootstrap.css' %}" />

<script src="{% static 'polls/js/bootstrap.min.js' %}"></script>
<script src="{% static 'polls/js/jquery-3.1.1.min.js' %}"></script>

<div class="container-fluid" style="background-color:#2BBBAD; height: 30px;">
    <p class="text-center">
        {% if username %}
            <a style="color: white; font-size: 20px;" href="{% url 'polls:logout' %}">log out ({{ username }})</a>
        {% else %}
            <a style="color: white; font-size: 20px;" href="{% url 'polls:login' %}">login</a>
            <span style="color:white; padding-left:20px; padding-right:20px;">|</span>
            <a style="color: white; font-size: 20px;" href="{% url 'polls:register' %}">register</a>
        {% endif %}
    </p>
</div>

{% if listOfGoods %}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <table class="table table-bordered table-hover table-condensed" style="margin-top:25px; margin-bottom: 30px;">
            <thead>
                <tr style="text-align:center;">
                    <td>№</td>
                    <td>товар</td>
                    <td>адрес доставки</td>
                    <td>кол-во</td>
                    <td>дата доставки</td>
                    <td>статус</td>
                    <td colspan="2">настройки</td>
                </tr>
            </thead>
            <tbody>
                {% for goods in listOfGoods %}
                <tr style="text-align:center;">
                    <td>
                        {{ forloop.counter }}
                    </td>

                    <td>
                        {{ goods.name }}
                    </td>

                    <td>
                        {{ goods.address }}
                    </td>

                    <td>
                        {{ goods.count }}
                    </td>

                    <td>
                        {{ goods.date }}
                    </td>

                    <td>
                        {% if goods.isArrive == "True" %}
                            выполнен
                        {% else %}
                            не выполнен
                        {% endif %}
                    </td>

                    <td>
                        {% if username %}
                            <form action="{% url 'polls:delete' %}" style="height: 10px; margin-top: -6px;" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{ goods.id }}">
                                <button type="submit" class="btn btn-link" style="color:red;">удалить</button>
                            </form>
                        {% else %}
                            <a data-toggle="tooltip" title="you need to login" style="color:red;" href="#">удалить</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if username %}
                            <a data-toggle="tooltip" title="you need to login" style="color:green;" href="{% url 'polls:edit' goods.id %}">редактировать</a>
                        {% else %}
                            <a data-toggle="tooltip" title="you need to login" style="color:green;" href="#">редактировать</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
<div class="col-md-6 col-md-offset-3" style="text-align: center;">
    <H2>Нет доступных товаров.</H2>
    <hr>
</div>
{% endif %}

{% if username %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-info">
          <div class="panel-heading">Добавить новый товар</div>
          <div class="panel-body">
              <form action="{% url 'polls:add' %}" method="post">
                  {% csrf_token %}
                  <input type="text" class="form-control" name="name" placeholder="название" required><br>
                  <input type="number" class="form-control" name="count" placeholder="кол-во" required><br>
                  <input type="text" class="form-control" name="address" placeholder="адрес доставки" required><br>

                  <input type="text" name="date" class="form-control" pattern=
                          "(0[1-9]|1[0-9]|2[0-9]|3[01]).(0[1-9]|1[012]).[0-9]{4}"
                         placeholder="DD.MM.YYYY" required><br>
                  <input type="radio" name="arrived" value="True">выполнен<br>
                  <input type="radio" name="arrived" value="False" checked>не выполнен<br><br>

                  <input class="btn btn-default btn btn-success" type="submit" value="добавить">
              </form>
          </div>
        </div>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-info">
          <div class="panel-heading">Добавить новый товар</div>
          <div class="panel-body">
            <p style="padding-top:5px;">you need to login to add new goods.</p>
          </div>
        </div>
    </div>
</div>
{% endif%}