{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/css/bootstrap.css' %}" />
<script src="{% static 'polls/js/bootstrap.min.js' %}"></script>
<script src="{% static 'polls/js/jquery-3.1.1.min.js' %}"></script>

<title>Login</title>

<div class="row" style="margin-top: 50px;">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-info">
          <div class="panel-heading">Authorization</div>
          <div class="panel-body">
              <form action="{% url 'polls:Userlogin' %}" method="post">
                  {% csrf_token %}
                  {% if error %}
                    <label style="color: red;">{{ error }}</label>
                  {% endif %}
                  <input type="text" class="form-control" name="login" placeholder="login" required><br>
                  <input type="password" class="form-control" name="pass" placeholder="password" required><br>
                  <input class="btn btn-default btn btn-success" type="submit" value="log in">
              </form>
          </div>
        </div>
    </div>
</div>