<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Редактировать передачу {{obj.name}}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "tv/bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "tv/mystyle.css" %}">
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">
        Телепередачи
      </a>
    </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/tv">Главная</a></li>
        <li><a href="/tv/add">Добавить новую передачу</a></li>
        <li><a href="/tv/register">Личный кабинет</a></li>
      </ul>
      </div>

  </div>
</nav>

<br>
<div class="hold_edit">
    <div class="my_form">
        <form action="{% url 'tv:save' obj.id %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Название:</label>
                <textarea id="name" name="name" class="form-control" rows="1">{{obj.name}}</textarea>
            </div>
            <div class="form-group">
                <label for="description">Описание:</label>
                <textarea id="description" name="description" class="form-control" rows="4">{{obj.description}}</textarea>
            </div>
            <div class="form-group">
                <label for="len">Продолжительность, мин:</label>
                <input type="number" class="form-control" id="len" name="timeLen" value="{{obj.timeLen}}" required>
            </div>
            <div class="form-group">
                <label for="ad">Опции - реклама:</label>
                <textarea id="ad" name="ad" class="form-control" rows="1">{{obj.ad}}</textarea>
            </div>
            <div class="form-group">
                <label for="time">Время:</label>
                <textarea id="time" name="dateTime" class="form-control" rows="1">{{obj.dateTime}}</textarea>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Изменить">
            </div>
            <a href="delete" class="btn btn-danger">Удалить программу</a>
        </form>
    </div>
</div>
</body>
</html>