div {
    display: none;
}

div:hover {
    display: block;
}

h2:hover + div {
    display: block;
}

h1 {
    text-align: center;
}

ul {
    margin: 5%;
}

a.btn {
    width: 400px;
    float: center;
}