{% load static %}


<link rel="stylesheet" type="text/css" href="{% static 'timetable/style1.css' %}" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">



<h1><a>{{ show.name }}</a></h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<body>
<b>Discription:
    <li>{{  show.discription}}</li>
Duration:
    <li>{{  show.duration}} minutes</li>
Date:
    <li>{{  show.show_date}}</li>
Adds:
    <li>{{  show.adds}}</li>
</b></body>