<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Product list</title>
    <link rel="stylesheet" href="{% static 'css/product.css' %}">
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
        <a href="new">Добавить новый продукт</a>
        <ul class="list-group">
        {% for product in products %}
            <li class=""list-group-item">
            <h1>{{ product.name }} </h1>

            <div>
                <p>Количество: {{ product.quantity }}</p>
                <p>Адрес: {{ product.address }}</p>
                <p>Дата: {{ product.date }}</p>
                <p>{% if product.status %}
                        {{ "Выполнено" }}
                    {% else %}
                        {{ "Не выполнено" }}
                    {% endif %}</p>
            </div>
            <a href="{{ product.id }}/delete"> Удалить?</a>
            <a href="{{ product.id }}/edit"> Изменить?</a>
            </li>
        {% endfor %}
        </ul>

</body>
</html>