{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'teleshow/style.css' %}"/>
<div class="elem loginarea">
  <h1>Форма входа</h1>
  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
  <form action="{% url 'authorization:login' %}" method="post">
    {% csrf_token %}
    <input type="text" name="login" pattern=".{4,}" required>
    <label>Логин</label>
    <br>
    <input type="password" name="password" pattern=".{4,}" required>
    <label>Пароль</label>
    <br>
    <input class="admin_btn" type="submit" value="Войти">
    <a class="admin_btn" href="{% url 'authorization:registration' %}">Зарегистрироваться</a>
  </form>
  <a class="admin_btn" href="{% url 'list' %}">Войти как гость</a>
</div>
