<!DOCTYPE html>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Телепрограмма</title>
</head>
<body>
{% if username %}
<div class="page-header">
    <div class="container">
        <div class="col-lg-9"><h3>Редактирование</h3></div>
        <div class="col-xs-offset-10">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{username}}
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'tvshows:index' %}">Вернуться на сайт</a></li>
                    <li><a href="{% url 'tvshows:logout' %}">Выйти</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    {% if list_shows %}
  <table class="table">
    <thead>
      <tr>
          <th>Название передачи</th>
          <th>Дата</th>
          <th>Время</th>
          <th>Описание</th>
          <th>Реклама</th>
          <th></th>
          <th></th>
      </tr>
    </thead>
    <tbody>
    {% for show in list_shows %}
      <tr>
          <td>{{show.name}}</td>
          <td>{{show.broadcast_date}}</td>
          <td>{{show.time}}</td>
          <td>{{show.description}}</td>
          <td>{{show.advert}}</td>
          <td>
              <form action="{% url 'tvshows:editshow' %}" method="POST">
                                {% csrf_token %}
                  <input type="hidden" name="id" value="{{ show.id }}">
              <button type="submit" class="btn-sm btn btn-success">Изменить</button>
              </form>
          </td>
          <td>
              <form action="{% url 'tvshows:delete' %}" method="POST">
                                {% csrf_token %}
                  <input type="hidden" name="id" value="{{ show.id }}">
              <button type="submit" class="btn-sm btn btn-danger">Удалить</button>
              </form>
          </td>
      </tr>
    {% endfor %}
    <tr>
    <form action="{% url 'tvshows:add' %}" method="post">
        {% csrf_token %}
        <td>
            <input type="text" class="form-control" name="name" placeholder="название" required>
        </td>
        <td>
            <input type="text" name="date" class="form-control" pattern=
                          "^[0-9]{4}-(0[1-9]|1[0-2])-(0[0-9]|1[0-9]|2[0-9]|3[01])$"
                         placeholder="YYYY-MM-DD" required>
        </td>
        <td>
            <input type="text" class="form-control" name="time" placeholder="HH:MM:SS"
                   pattern="^([0-1]\d|2[0-3])(:[0-5]\d){2}$" required>
        </td>
        <td>
            <input type="text" class="form-control" name="descrip" placeholder="описание" required>
        </td>
        <td colspan="2">
        <input type="radio" name="advert" value="Да" checked>Да
        <input type="radio" name="advert" value="Нет">Нет
        </td>
        <td>
            <input class="btn btn-lm btn-success" type="submit" value="Добавить">
        </td>
    </form>
    </tr>
    </tbody>
  </table>
{% else %}
    <h1>Передачи закончились. Канал закрывается.</h1>
{% endif %}
</div>
{% else %}
<h1 class="bg-danger text-center">ДОСТУП ЗАПРЕЩЁН</h1>
{% endif %}
</body>
</html>