<!DOCTYPE html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<div class="container col-lg-offset-4 col-lg-3">
    <form action="{% url 'tvshows:register' %}" method="post">
        <h3>Регистрация</h3>
        {% csrf_token %}
        <label>username</label><br>
        {{ form.username }}
        </br>
        </br>
        <label>password</label><br>
        {{ form.password1 }}
        </br>
        </br>
        <label>repeat password</label><br>
        {{ form.password2 }}
        </br>
        </br>
        <button class="btn btn-lg btn-primary" type="submit">Зарегестрироваться</button></br>
        </br>
    </form>
    <span style="color: red;">{{ form.errors }}</span>
</div>
</body>
</html>