{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% if program %}
<form action="{% url 'save' program.pk %}" method="post">
{% else %}
<form action="{% url 'save' -1 %}" method="post">
{% endif %}
  {% csrf_token %}
  Название передачи
  <br>
  <input type="text" name="name" value="{{ program.name }}" required>
  <br>
  Продолжительность
  <br>
  <input type="text" name="duration" value="{{ program.duration }}" required>
  <br>
  Описание
  <br>
  <textarea name="description">{{ program.advertisement }}</textarea>
  <br>
  Дата трансляции YYYY-MM-DD
  <br>
  <input type="text" name="date" pattern="[0-9]{4}-[0-1][0-9]-[0-3][0-9]" value="{{ program.broadcast_date.date }}" required>
  <br>
  Время трансляции HH:MM
  <br>
  <input type="text" name="time" pattern="[0-2][0-9]:[0-5][0-9]" value="{{ program.broadcast_date.time }}" required>
  <br>
  Наличие рекламы
  <input type="checkbox" name="advertisement"
  {% if program.advertisement %}
    checked
  {% endif %}
  >
  <br>
  <input type="submit" value="Save">
</form>
