{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'teleshow/style.css' %}"/>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<div class="changearea">
  {% if program %}
  <form action="{% url 'save' program.pk %}" method="post">
  {% else %}
  <form action="{% url 'save' -1 %}" method="post">
  {% endif %}
    {% csrf_token %}
    <span>Название передачи</span>
    <br>
    <input type="text" name="name" value="{{ program.name }}" required>
    <br>
    <span>Продолжительность</span>
    <br>
    <input type="text" name="duration" value="{{ program.duration }}" required>
    <br>
    <span>Описание</span>
    <br>
    <textarea name="description">{{ program.description }}</textarea>
    <br>
    <span>Дата трансляции YYYY-MM-DD</span>
    <br>
    <input type="text" name="date" pattern="[0-9]{4}-[0-1][0-9]-[0-3][0-9]" value="{{ program.broadcast_date.date }}" required>
    <br>
    <span>Время трансляции HH:MM</span>
    <br>
    <input type="text" name="time" pattern="[0-2][0-9]:[0-5][0-9]" value="{{ program.broadcast_date.time }}" required>
    <br>
    <span>Наличие рекламы</span>
    <input type="checkbox" name="advertisement"
    {% if program.advertisement %}
      checked
    {% endif %}
    >
    <br>
    <input class="admin_btn" type="submit" value="Сохранить">
  </form>
</div>
