{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'teleshow/style.css' %}"/>
<div class="elem">
  <h1>{{ program.name }}</h1>
  <table class="description">
    <tr>
      <td>Продолжительность: </td>
      <td>{{ program.duration }}<td>
    </tr>
    <tr>
      <td>Описание: </td>
      <td>{{ program.description }}</td>
    </tr>
    <tr>
      <td>Дата трансляции: </td>
      <td>{{ program.broadcast_date.year }}-{{ program.broadcast_date.month }}-{{ program.broadcast_date.day }} {{ program.broadcast_date.hour }}:{{ program.broadcast_date.minute }}</td>
    </tr>
    <tr>
      <td>Наличие рекламы: </td>
      <td>{% if program.advertisement %}да{% else %}нет{% endif %}</td>
    </tr>
  </table>
  {% if allowedToEdit %}
    <a class="admin_btn" href="{% url 'change' program.id %}">Изменить</a>
    <form action="{% url 'delete' program.id %}" metdod="post">
      {% csrf_token %}
      <input class="admin_btn" type="submit" value="Удалить">
    </form>
  {% endif %}
</div>
