.page-header {
    background-color: #ff9400;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.12), 0 0px 2px rgba(0, 0, 0, 0.24);
    margin-top: 0;
    padding: 20px 20px 20px 40px;

    border: none;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.page-header h2{
    color: #ffffff;
    font-size: 24pt;
    text-decoration: none;
}

.remove, .remove:visited {
    color: #9f2519;
    font-size: 36pt;
    text-decoration: none;
}

.remove:hover {
    color: #d22619;
}

.add, .add:visited {
    color: #099f10;
    font-size: 36pt;
    text-decoration: none;
}

.add:hover {
    color: #09d111;
}

.content {
    margin-top: 120px;
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Roboto', cursive;
}

.date {
    float: right;
    color: #828282;
    margin: 10px;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}