<!DOCTYPE html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class = "container">
<a href = "/admin" target="_blank"> Admin </a>
<p>{{order}}
<form action = "{% url 'models:edit' order.id %}" method="post">
	{% csrf_token %}
	<label for ="name_input"> Название </label>
	<input type = "text" class="form-control" name = "name" value = "{{order.name}}" id = "name_input" >
	<label for ="count_input"> Количество </label>
	<input type = "text" class="form-control" value = "{{order.count}}" name = "count" id = "count_input">
	<label for ="address_input"> Адрес </label>
	<input type = "text" class="form-control" value = "{{order.address}}" name = "address" id = "address_input">
	<label for ="order_date_input"> Дата </label>
	<input type="date" class="form-control" name = "order_date" value = "{{order.order_date}}" id = "order_date_input">	
	<label for ="state_input"> Выдан </label>
	<input type = "checkbox" name = "state" value = "Yes"
	{% if order.state%}
		checked
	{% endif %}
	 id = "state_input">
	<p>
	<p>
	<input type = "submit" class="btn btn-success" value = "Сохранить">
	<a href="/index" class="btn btn-danger" role="button">Отмена</a>
</form>
</div>
</body>