<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'Telecast/materialize/css/materialize.min.css' %}" media="screen, projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'Telecast/style.css' %}"/>
    <title>Edit</title>
</head>
<body background="{% static 'Telecast/images/main.jpg' %}">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{% static 'Telecast/materialize/js/materialize.min.js' %}"></script>

    <div class="parent">
        <div class="block">
            <form class="col s12" action="{% url 'Telecast:Userlogin' %}" method="post">
            {% csrf_token %}
                <div class="row">
                    <div class="input-field col s12">
                        <input id="fn" name="login" placeholder="Login" type="text" class="validate">
                        <input name="pass" placeholder="Password" id="last_name" type="text" class="validate">
                        <input class="waves-effect waves-light btn indigo try_button" type="submit" value="Log in"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>