 {% extends 'product/base.html' %}

 {% block content %}
                    {% for prod in prods %}
                        <div class="prod">
                            <h1><a href="{% url 'prod_detail' pk=prod.pk %}">{{ prod.prod_title }}</a></h1>
                            {% if user.is_authenticated %}
                            <a class="btn btn-default" href="{% url 'prod_edit' pk=prod.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                            <a class="btn btn-default" href="{% url 'prod_remove' pk=prod.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                            {% endif %}
                            <p>count: {{ prod.prod_count}}</p>
                            <p>addres: {{ prod.prod_address}}</p>
                            <p>status: {{ prod.prod_status }}</p>
                            <div class="date">
                                {{ prod.prod_date }}
                            </div>
                        </div>
                    {% endfor %}
 {% endblock %}
