{% extends 'tv/base.html' %}

{% block login %}
	<div class="wrapper">
		<form action="" method="post" name="Login_Form" class="form-signin">
            {% csrf_token %}
		    <h3 class="form-signin-heading">Please Sign In</h3>

			  <input type="text" class="form-control" name="username" placeholder="Username" required="true"/>
			  <input type="password" class="form-control" name="password" placeholder="Password" required="true"/>

            {% if login_error %}
                <div class="alert alert-danger text-center">
                    {{ login_error }}
                </div>
            {% endif %}
			  <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="login" type="submit">Login</button>
		</form>
	</div>
{% endblock %}