{% load staticfiles %}
<head>
    <title>Django</title>
    <link rel="stylesheet" type="text/css" href="{% static foundation.css %}">
</head>
<body>
<h1>TV programm</h1>
{% if user.is_authenticated %}
    <form action="{% url 'logout' %}">
        <input type="submit" value="Logout ({{user.username}})"/>
    </form>
{% else %}
<form action="{% url 'login' %}">
    <input type="submit" value="Login"/>
</form>
<form action="{% url 'registration' %}">
    <input type="submit" value="Registration"/>
</form>
{% endif %}

    <form>
        {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
        {% endif %}
    </form>
    <div class="row">
    {% block content %}
    {% endblock %}
    </div>


</body>