body {
    background: snow;
}

a {
    color: #0f0f0f;
}

.right-align {
    float: right;
}

.big-font {
    font-size: 13pt;
}

.light-font, .light-font a {
    color: #999;
}

.mar-right {
    margin-right: 5px !important;
}