<!DOCTYPE html>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Телепрограмма</title>
</head>
<body>
{% if username %}
<div class="page-header">
    <div class="container">
        <div class="col-lg-9"><h3>Редактирование</h3></div>
        <div class="col-xs-offset-10">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{username}}
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'app:index' %}">Вернуться на сайт</a></li>
                    <li><a href="{% url 'app:logout' %}">Выйти</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
  <table class="table">
    <thead>
      <tr>
          <th>Название передачи</th>
          <th>Дата</th>
          <th>Время</th>
          <th>Описание</th>
          <th>Реклама</th>
          <th></th>
          <th></th>
      </tr>
    </thead>
    <tbody>
    {% if list_shows %}
    {% for show in list_shows %}
      <tr>
          <td>{{show.name}}</td>
          <td>{{show.broadcast_date}}</td>
          <td>{{show.time}}</td>
          <td>{{show.description}}</td>
          <td>{{show.advert}}</td>
          <td>
              <a class="btn-sm btn btn-success"
                 href="{% url 'app:edit_show' show.id %}">Изменить</a>
          </td>
          <td>
              <form action="{% url 'app:delete' %}" method="POST">
                                {% csrf_token %}
                  <input type="hidden" name="id" value="{{ show.id }}">
              <button type="submit" class="btn-sm btn btn-danger">Удалить</button>
              </form>
          </td>
      </tr>
    {% endfor %}
    {% endif %}
    <tr>

    </tr>
    </tbody>
  </table>
</div>
{% else %}
<h1 class="bg-danger text-center">ДОСТУП ЗАПРЕЩЁН</h1>
{% endif %}
</body>
</html>