<!DOCTYPE html>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<head>
    <meta charset="UTF-8">
    <title>TV Shows</title>
</head>

<body>
    <h1>TV Shows</h1>

    {% if username %}

        <div class="col-xs-offset-10">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{ username }}
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'app:logout' %}">Exit</a></li>
                </ul>
            </div>
        </div>

    {% else %}

    <div class="col-xs-offset-10">
        <a href="{% url 'app:register' %}">
            <button class="btn btn-sm btn-primary  btn-block " type="button">Sign up</button>
        </a>
    </div>
    <br>
    <div class="col-xs-offset-10">
        <a href="{% url 'app:login' %}">
            <button class="btn btn-sm btn-primary  btn-block" type="button">Sign in</button>
        </a>
    </div>

    {% endif %}

    {% if tv_show_list %}
    <table class="table">
        <thead>
            <tr>
                <th>TV Show name</th>
                <th>Date</th>
                <th>Duration</th>
                <th>Description</th>
                <th>Advertesement</th>
            </tr>
        </thead>
        <tbody>
            {% for tv_show in tv_show_list %}
            <tr>
                <td>{{ tv_show.name }}</td>
                <td>{{ tv_show.broadcast_date }}</td>
                <td>{{ tv_show.duration }}</td>
                <td>{{ tv_show.description }}</td>
                <td>{{ tv_show.advertisement }}</td>
                {% if username %}
                <td>
                    <a class="btn-sm btn btn-primary"
                         href="{% url 'app:edit_show' tv_show.id %}">Change</a>
                </td>
                <td>
                    <form action="{% url 'app:delete' %}" method="POST">
                                {% csrf_token %}
                        <input type="hidden" name="id" value="{{ tv_show.id }}">
                        <button type="submit" class="btn-sm btn btn-danger">Remove</button>
                    </form>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No tv shows are available.</p>
    {% endif %}

    <br>

    {% if username %}
    <form action="{% url 'app:add' %}" method="post">
        <table>
            <tr>
                {% csrf_token %}
                <td>
                    <input type="text" name="name" placeholder="name" required>
                </td>
                <td>
                    <input type="text" name="date" pattern=
                                  "^[0-9]{4}-(0[1-9]|1[0-2])-(0[0-9]|1[0-9]|2[0-9]|3[01])$"
                                 placeholder="YYYY-MM-DD" required>
                </td>
                <td>
                    <input type="text" name="time" placeholder="MMM" required>
                </td>
                <td>
                    <input type="text" name="descrip" placeholder="description" required>
                </td>
                <td colspan="2">
                    <input type="radio" name="advert" value="True" checked>Yes
                    <input type="radio" name="advert" value="False">No
                </td>
                <td>
                    <input class="btn btn-primary" type="submit" value="Add new TV show">
                </td>
            </tr>
        </table>
    </form>
    {% endif %}
</body>
