<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add Telecast</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Add Telecast</h1>
    <form action="{% url 'telecast:add_telecast' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control"
                   name="title" placeholder="Title">
        </div>
        <div class="form-group">
            <label>Duration</label>
            <input type="text" class="form-control"
                   name="duration" placeholder="Duration">
        </div>
        <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control"
                   name="description" placeholder="Description">
        </div>
        <div class="form-group">
            <label>Broadcast date</label>
            <input type="text" class="form-control"
                   name="broadcastDate" placeholder="Broadcast date">
        </div>
        <div class="form-group">
            <label>Is advertising</label>
            <input type="text" class="form-control"
                   name="isAdvertising" placeholder="True/False">
        </div>
        <input class="btn btn-primary" type="submit" value="Save"/>
    </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>