<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'telecast/style.css' %}"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add Telecast</title>
</head>
<body>
<div class="container">
    <h1>Add TV Program</h1>
    <form action="{% url 'telecast:add_telecast' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control"
                   name="title" placeholder="Title">
        </div>
        <div class="form-group">
            <label>Duration</label>
            <input type="text" class="form-control"
                   name="duration" placeholder="Duration">
        </div>
        <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control"
                   name="description" placeholder="Description">
        </div>
        <div class="form-group">
            <label>Broadcast date</label>
            <input type="text" class="form-control"
                   name="broadcastDate" placeholder="Date YYYY-MM-DD HH:mm">
        </div>
        <div class="form-group">
            <label>Is advertising</label>
            <input type="text" class="form-control"
                   name="isAdvertising" placeholder="True/False">
        </div>
        <input class="btn btn-primary" type="submit" value="Save"/>
    </form>
</div>

</body>
</html>