{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logout</title>


    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/control.css' %}">
</head>
<body>

{% load i18n %}

{% block content %}
<p>{% trans "Logged out" %}</p>
    <a class="backButton" href="/login"> Login again</a>

    <a class="backButton" href="/"> Go to main page</a>
{% endblock %}

</body>
</html>