{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/control.css' %}">
</head>
<body>

{% block content %}
    <div class="page-header">
        <h1>Log in</h1>
    </div>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="backButton" type="submit">Login</button>
    </form>
{% endblock %}
</body>
</html>